@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('./assets/fonts/webfont.woff2') format('woff2');
}
body{
  font-family: "webfont" !important;
  font-size: 30px;
  background: red;
}
#root{
  background-color: #fff;
}